// Color names - http://chir.ag/projects/name-that-color/

$black: #000000;
$white: #ffffff;
$woodsmoke: #171919;
$cod_gray: #151515;
$blue_ribbon: #0066ff;
$cornflower_blue: #4AF6CD;
$shark: #1C2121;

// Body
$base-text-color: $cod_gray;
$secondary-text-color: $white;

// Headings
$base-headings-color: $black;
