.header {
  &__block-title {
    position: absolute;
    right: 0;
    bottom: 0;
    display: grid;
    justify-items: end;
    margin-right: 8rem;
    margin-bottom: 11.6rem;
    z-index: 100;
  }

  &__title {
    margin-bottom: 2.8rem;

    &--margin {
      margin-bottom: 4.8rem;
    }
  }

  &__btn {
    cursor: pointer;

    & svg {
      transform: rotate(180deg);
      width: 25px;
      height: 21px;
      fill: $white;
    }

    &:hover,
    &:focus-within {
      opacity: 0.5;
    }
  }

  &__map {
    position: absolute;
    top: -770px;
    right: -62px;
    z-index: 11;
  }
}
