.menu {
  margin-top: 11.8rem;

  & * {
    text-transform: lowercase;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    line-height: 1.4rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p {
      margin-top: 0.6rem;
    }

    & svg {
      fill: $white;
    }

    &:hover,
    &:focus-within {
      & p {
        color: $cornflower_blue;
      }

      & svg {
        fill: $cornflower_blue;
      }
    }
  }
}
