.section-surf  {
  position: relative;
  height: 1008px;

  &__map {
    margin-top: 10.6rem;
    margin-left: 8rem;

    & img {
      
    }
  }

  &__text-bg {
    // top: -174px;
    // left: -42px;
  }
}