.swiper2 {
  & .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 800px;
  }

  & .slider__button-prev,
  & .slider__button-next {
    top: 1060px;
  }

  & .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    background: $cornflower_blue;
    opacity: 1;
    box-shadow: 0 0 3.5rem $cornflower_blue;
    position: absolute;
  }

  & .swiper-pagination-bullet-active {
    &::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      background: $cornflower_blue;
      clip-path: polygon(50% 0%, 0 85%, 100% 85%);
      left: 50%;
      transform: translateX(-50%);
      top: -52%;
    }
  }

  & .swiper-pagination-bullet--1 {
    bottom: 108px;
    left: 300px;
  }

  & .swiper-pagination-bullet--2 {
    bottom: 155px;
    left: 449px;
  }

  & .swiper-pagination-bullet--3 {
    bottom: 123px;
    left: 659px;
  }
  & .swiper-pagination-bullet--4 {
    bottom: -62px;
    left: 734px;
  }

  & .swiper-pagination-bullet--5 {
    bottom: 228px;
    left: 851px;
  }

  & .swiper-pagination-bullet--6 {
    bottom: -116px;
    left: 960px;
  }

  & .swiper-pagination-bullet--7 {
    bottom: 54px;
    left: 1154px;
  }

  & .swiper-pagination-bullet--8 {
    bottom: -62px;
    left: 1408px;
  }

  & .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;

    &--1 {
      transform: translateY(32px);
    }

    &--2 {
      transform: translateY(90px);
    }

    &__inner {
      position: relative;

      &::before {
        content: "";
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        background: rgba($shark, 0.8);
      }
    }

    &__title {
      position: absolute;
      top: 7.2rem;
      left: 4rem;
      font-size: 4rem;
      line-height: 3.6rem;
      width: 15rem;
    }

    &__text {
      position: static;

      & > * {
        opacity: 1;
      }
    }

    &__btn {
      justify-content: center;
      transform: translateY(-11.8rem);
    }
  }

  & .swiper-wrapper {
    margin-top: 100px;
  }
}
