.subtitle {
  position: relative;
  font-size: 2.2rem;
  line-height: 3.2rem;
  letter-spacing: 0.733rem;
  margin-left: 10.4rem;
  opacity: 0.5;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -104px;
    width: 80px;
    height: 1px;
    background: $white;
  }

  &--right {
    margin-left: 0;
    margin-right: 104px;

    &::before {
      left: 104px;
    }
  }
}
