.surf {
  position: relative;

  &__img-bg {
    width: 295px;
    height: 350px;
    fill: $white;
    opacity: 0.02;
    position: absolute;
    top: 0;
    right: -146px;
  }

  &__map-wrapper {
    max-width: 1246px;
    min-height: 700px;
    margin: 0 auto;
    margin-bottom: 110px;
    background: url("../images/svg/map-surf-not-dot.svg") no-repeat;
    background-position: center;
    position: relative;
  }

  &__list-points {
    max-width: 1246px;
    min-height: inherit;
    position: relative;
  }

  &__item {
    width: 30%;
    opacity: 1;
    background: none;
    position: absolute;

    &--1 {
      left: 33px;
      top: 180px;
    }

    &--2 {
      top: 124px;
      left: 154px;
    }

    &--3 {
      top: 144px;
      left: 358px;
    }

    &--4 {
      top: 328px;
      left: 434px;
    }

    &--5 {
      top: 46px;
      left: 554px;
    }

    &--6 {
      top: 380px;
      left: 662px;
    }

    &--7 {
      top: 210px;
      left: 820px;
    }

    &--8 {
      top: 128px;
      left: 1038px;
    }

    &--9 {
      top: 330px;
      left: 1112px;
    }
  }

  &__point {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $cornflower_blue;
    box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -13px;
      left: 50%;
      transform: translateX(-50%);
      width: 24px;
      height: 22px;
      background: $cornflower_blue;
      clip-path: polygon(50% 0%, 0% 102%, 100% 100%);
      transition: all 0.3s;
      display: none;
    }

    &:hover,
    &:focus-within {
      &::before {
        display: block;
      }
    }
  }
}
