.vertical-text {
  height: 0;
  width: 0;
  transform: rotate(-90deg);
  position: absolute;
  white-space: nowrap;

  &__content {
    font-size: 1.8rem;
    letter-spacing: 0.8rem;
    opacity: 0.5;
  }
}
